* {
  font-family: 'Roboto Slab', serif;
}
*:focus {
  outline: transparent;
}

.hide-effect:hover,.hide-effect:focus,.hide-effect:active,
.hide-effect:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover,
.hide-effect:focus ~ .hide-effect::before {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0 !important;
}

.underline-prepend {
  display: inline-block;
}
.underline-prepend:after {
  content: "";
  display: block;
  margin: .35rem 0 0 0;
  border: .15rem solid #6c757d;
  border-radius: 0 1rem 0 0;
  background: #6c757d;
}
hr.underline {
  margin: -.55rem 0 .5rem 0;
  height: .025rem;
  border: .15rem solid #6c757d;
  border-radius: 0 1rem 0 0;
  background: #6c757d;
}

.fa-width-form {
  width: 35px;
}

.small-caps {
  font-variant: small-caps;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6c757d !important;
  border-color: transparent !important;
}

.fa-primary:hover   {color: #007bff;}
.fa-secondary:hover {color: #6c757d;}
.fa-success:hover   {color: #28a745;}
.fa-info:hover      {color: #17a2b8;}
.fa-warning:hover   {color: #ffc107;}
.fa-danger:hover    {color: #dc3545;}
.fa-light:hover     {color: #f8f9fa;}
.fa-dark:hover      {color: #343a40;}

.bg-background {
  background: url("background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: -999;
}

.small-caps {
  font-variant: small-caps !important;
}
